@import '../../common/css/mixin.scss';
.list {
  margin: toRem(20px);
  font-size: toRem(30px);
  li {
    display: flex;
    height: toRem(60px);
    margin-bottom: toRem(20px);
    line-height: toRem(60px);
    .sex {
      border: 0px;
      border-bottom: 1px solid rgba(20, 20, 20, .5)
    }
  }
  .submit {
    justify-content: center;
  }
}

.news {
  margin-top: toRem(100px);
  padding-bottom: toRem(150px);
  border-top: 1px dashed #333;
  font-size: toRem(30px);
  text-align: left;
  color: #333;
  li {
    margin: toRem(30px) toRem(20px);

  }
}
canvas{
  width:toRem(88px);
  height: toRem(88px);
}
