@import '../../common/css/mixin.scss';
.tabs {
  position: fixed;
  left: 0;
  bottom: 0;
  width: toRem(750px);
  height: toRem(140px);
  box-shadow: 0px toRem(-2px) toRem(10px) #ddd;
  ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: toRem(700px);
    margin: 0 toRem(25px);
    li {
      
      a{
      	margin-top: toRem(10px);
      }
    }
  }
}
