@import '../../common/css/mixin.scss';
.button {
  width: toRem(330px);
  height: toRem(90px);
  border: 1px solid #00baf7;
  border-radius: toRem(8px);
  text-align: center;
  font-size: toRem(32px);
  outline: none;
}

.defaultButton {
  background: #fff;
  color: #00baf7;
}

.primaryButton {
  background: #00baf7;
  color: #fff;
}
